body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #EFEFEF;
}

#logo{
  margin-left: 10px;
  text-align: center;

}
#navbar{
  margin-top: 10px;
}
#cardUsuario{
  justify-content: center;
  align-items: center;
  display: flex;
}
label{
  float: left;
}
#tarjeta{
  text-align: left;
}
#logito{
  display: flex;
  float: right;
}
